body {
  margin: 0;
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRtzD_LiZxub8N-1zXSkY6MAzODIdhdcGm8oA&usqp=CAU");
  background-repeat: no-repeat;
  background-size: cover;
}

.game-title{
  font-family: 'Rubik Puddles', cursive;
  display:table;
  font-size: 3em;
  position: absolute;
  left: 25%;
  top: 3%;
  border:5px #D0D0D0 solid;
  background-color:#c9745d80;
  border-radius: 20px;
  line-height: 50px;
  padding:5px 10px;

}
.start-btn {
  display: none;
}

.gameOverTitle {
  font-family: 'Rubik Puddles', cursive;
  font-size: 8em;
  display: flex;
  margin: 25vw;
  position: fixed;
  border: 2px #D0D0D0 solid;
  border-radius: 20px;
  background-color:#c9745dd5;
  justify-content: center;
  align-items: center;
  z-index: 102;
  
}
.gameOverTitle.hide{
  display: none;
}
.victoryTitle {
  font-family: 'Rubik Puddles', cursive;
  font-size: 10em;
  display: flex;
  margin: 25vw;
  position: fixed;
  justify-content: center;
  align-items: center;
  z-index: 101;
  border: 2px solid white;
  border-radius: 20px;
  background-color: lightblue;
  cursor: pointer;
  outline: none;
}
.victoryTitle.hide {
  display: none;
}
.game-info{
  font-family: 'Rubik Puddles', cursive;
  font-size: 1.8em;
}
.start-btn.visible {
  font-family: 'Rubik Puddles', cursive;
  font-size: 5em;
  display: flex;
  margin: 30vw;
  position: fixed;
  justify-content: center;
  align-items: center;
  z-index: 100;
  width: 300px;
  height: 100px;
  background-color: lightblue;
  border: 2px solid white;
  border-radius: 20px;
  font-size: 1.2em;
  cursor: pointer;
  outline: none;
}

.turnonbgm{
  font-family: 'Rubik Puddles', cursive;
  font-size: 1.5em;
  background-color: lightblue;
  border-radius: 510px;
  cursor: pointer;
  outline: none;
}

.turnoffbgm{
  font-family: 'Rubik Puddles', cursive;
  font-size: 1.5em;
  background-color: lightblue;
  border-radius: 510px;
  cursor: pointer;
  outline: none;
}
.game-info-container {
  grid-column: 1 /7; /*container將在column-line 1 開始，並在 column-line 7 結束*/
}
.game-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto; /*分割成6列*/
  grid-gap: 10px; /*卡牌間距*/
  margin: 50px; /*與外邊間距*/
  justify-content: center;
  perspective: 800px; /*卡牌視角*/
}
.card {
  position: relative;
  height: 175px;
  width: 125px;
}
/*hover滑鼠碰到作動*/
.card.show .card-back {
  transform: rotateY(-180deg);
}

.card.show .card-front {
  transform: rotateY(0);
}
.card.level2 {
  display: none;
}


.card-face {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  backface-visibility: hidden;
  border-radius: 12px; /*卡片邊緣變圓滑*/
  transition: transform 500ms ease-in-out;
}
.card-front {
  transform: rotateY(180deg);
  background-color: rgb(243, 243, 243);
}
.card-back {
  transform: rotateY(0deg);
  background-color: rgb(0, 0, 0);
}
.thomas {
  position: absolute;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.card-value {
  position: absolute;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}